/************ 
* main-page *
************/
#main-page-row {
  margin-top: 15vh;
  margin-left: 5vw;
  position: static;
}

.col-img {
  position: relative;
  float: left;
  width: 60%;
  height: 100%;
  z-index: 1;
}

.col-txt {
  position: relative;
  float: right;
  width: 40%;
  height: 100%;
  z-index: 1;
  margin-right: 5vw;
}

img.portrait {
  position: absolute;
  height: 20vw;
  width: auto; 
}

img.landscape {
  position: absolute;
  width: 20vw;
  height: auto;
}

#img-main-01 {
  left: 5vw;
}

#img-main-02 {
  top: 0 !important;
  left: 20vw;
}

#img-main-03 {
  left: 20vw;
  top: 15vw;
}

#img-main-04 {
  top: 15vw;
  left: 35vw;
}

@media (orientation: portrait) {
  .col-img {
    width: 100%;
    height: 45vh;
  }
  
  .col-txt {
    width: 100%;
    height: 10vh;
    margin-right: 5vw;
  }

  h1 {
    font-size: 5vw;
    margin-left: 5vw;
  }
  
  img.portrait {
    height: 30vw;
    width: auto; 
  }
  
  img.landscape {
    width: 30vw;
    height: auto;
  }
  
  #img-main-01 {
    left: 5vw;
  }
  
  #img-main-02 {
    top: 0 !important;
    left: 30vw;
  }
  
  #img-main-03 {
    left: 30vw;
    top: 25vw;
  }
  
  #img-main-04 {
    top: 25vw;
    left: 55vw;
  }
}


/********* 
* photos *
*********/
#lightgallery > a {
  border: 0;
}

.lg {
  height: 90% !important;
}

.photo-thumb {
  object-fit: cover;
  min-width: 300px;
  min-height: 169px;
}

#lightgallery > a {
  position: relative;
}

a {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

a > p {
  position: absolute;
  bottom: -5px;
  left: 30px;
  color: white;
  text-transform: uppercase;
}


/********* 
* videos *
*********/
ul > li {
  list-style-type: none;
}

form > button {
  width: 100%;
  height: auto;
}

@media (orientation: portrait) {
  .photo-thumb {
    width: 100%;
    height: 70vw;
  }

  .vid-ul-width {
    width: 100% !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
  }

  .vid-div-width {
    width: 100%;
    margin-top: 5vh;
  }
}

@media (orientation: landscape) {
  .photo-thumb {
    width: 33%;
    height: 20vw;
  }

  .vid-ul-width {
    width: 30vw;
  }

  .vid-div-width {
    width: 30vw;
    margin-top: 5vh;
  }
}

/*
@media (max-width: 360px) and (orientation: landscape) {
  .photo-thumb {
    width: 100%;
    height: 20vw;
  }
}
*/


