doctype html
//
  Multiverse by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Multiverse by HTML5 UP
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="assets/css/main.css")
    noscript
      link(rel="stylesheet" href="assets/css/noscript.css")
  body.is-preload
    // Wrapper
    #wrapper
      // Header
      header#header
        h1
          a(href="index.html")
            strong Multiverse
            |  by HTML5 UP
        nav
          ul
            li
              a.icon.solid.fa-info-circle(href="#footer") About
      // Main
      #main
        article.thumb
          a.image(href="images/fulls/01.jpg")
            img(src="images/thumbs/01.jpg" alt="")
          h2 Magna feugiat lorem
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/02.jpg")
            img(src="images/thumbs/02.jpg" alt="")
          h2 Nisl adipiscing
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/03.jpg")
            img(src="images/thumbs/03.jpg" alt="")
          h2 Tempus aliquam veroeros
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/04.jpg")
            img(src="images/thumbs/04.jpg" alt="")
          h2 Aliquam ipsum sed dolore
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/05.jpg")
            img(src="images/thumbs/05.jpg" alt="")
          h2 Cursis aliquam nisl
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/06.jpg")
            img(src="images/thumbs/06.jpg" alt="")
          h2 Sed consequat phasellus
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/07.jpg")
            img(src="images/thumbs/07.jpg" alt="")
          h2 Mauris id tellus arcu
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/08.jpg")
            img(src="images/thumbs/08.jpg" alt="")
          h2 Nunc vehicula id nulla
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/09.jpg")
            img(src="images/thumbs/09.jpg" alt="")
          h2 Neque et faucibus viverra
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/10.jpg")
            img(src="images/thumbs/10.jpg" alt="")
          h2 Mattis ante fermentum
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/11.jpg")
            img(src="images/thumbs/11.jpg" alt="")
          h2 Sed ac elementum arcu
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
        article.thumb
          a.image(href="images/fulls/12.jpg")
            img(src="images/thumbs/12.jpg" alt="")
          h2 Vehicula id nulla dignissim
          p
            | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
      // Footer
      footer#footer.panel
        .inner.split
          div
            section
              h2 Magna feugiat sed adipiscing
              p
                | Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum eget quis orci mattis aliquet. Maecenas fringilla et ante at lorem et ipsum. Dolor nulla eu bibendum sapien. Donec non pharetra dui. Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum.
            section
              h2 Follow me on ...
              ul.icons
                li
                  a.icon.brands.fa-twitter(href="#")
                    span.label Twitter
                li
                  a.icon.brands.fa-facebook-f(href="#")
                    span.label Facebook
                li
                  a.icon.brands.fa-instagram(href="#")
                    span.label Instagram
                li
                  a.icon.brands.fa-github(href="#")
                    span.label GitHub
                li
                  a.icon.brands.fa-dribbble(href="#")
                    span.label Dribbble
                li
                  a.icon.brands.fa-linkedin-in(href="#")
                    span.label LinkedIn
            p.copyright
              | © Unttled. Design: 
              a(href="http://html5up.net") HTML5 UP
              | .
          div
            section
              h2 Get in touch
              form(method="post" action="#")
                .fields
                  .field.half
                    input#name(type="text" name="name" placeholder="Name")
                  .field.half
                    input#email(type="text" name="email" placeholder="Email")
                  .field
                    textarea#message(name="message" rows="4" placeholder="Message")
                ul.actions
                  li
                    input.primary(type="submit" value="Send")
                  li
                    input(type="reset" value="Reset")
    // Scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.poptrox.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")