doctype html
//
  Multiverse by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title AlbumShares
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet' href='assets/css/main.css')
    noscript
      link(rel='stylesheet' href='assets/css/noscript.css')
    link(type='text/css' rel='stylesheet' href='lightgallery/css/lightgallery.css')
    link(rel='stylesheet', href='assets/css/customization.css')
  body.is-preload
    // Wrapper
    #wrapper
      // Header
      header#header
        h1
          a(href='/')
            strong AlbumShares
            |  by Koshnica
        nav
          ul
            li
              a(href='/') Glavna
            li
              a(href='/album') Foto
            li
              form#chosenPhotos(name='listOfPhotos' action='/download' method='post')
                button(form='chosenPhotos' type='submit') Skini fotke
            li
              a(href='/fotonew') FotoNew
            li
              a(href='/video') Video
            //li
              a.icon.solid.fa-info-circle(href='#footer') Contact
      // Main
      block mainPage
      
      block photoGallery

      block photoNew

      // Footer
      footer#footer.panel
        .inner.split
          div
            section
              h2 Magna feugiat sed adipiscing
              p
                | Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum eget quis orci mattis aliquet. Maecenas fringilla et ante at lorem et ipsum. Dolor nulla eu bibendum sapien. Donec non pharetra dui. Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum.
            section
              h2 Follow me on ...
              ul.icons
                li
                  a.icon.brands.fa-twitter(href='#')
                    span.label Twitter
                li
                  a.icon.brands.fa-facebook-f(href='#')
                    span.label Facebook
                li
                  a.icon.brands.fa-instagram(href='#')
                    span.label Instagram
                li
                  a.icon.brands.fa-github(href='#')
                    span.label GitHub
                li
                  a.icon.brands.fa-dribbble(href='#')
                    span.label Dribbble
                li
                  a.icon.brands.fa-linkedin-in(href='#')
                    span.label LinkedIn
            p.copyright
              | © Unttled. Design: 
              a(href='http://html5up.net') HTML5 UP
              | .
          div
            section
              h2 Get in touch
              form(method='post' action='#')
                .fields
                  .field.half
                    input#name(type='text' name='name' placeholder='Name')
                  .field.half
                    input#email(type='text' name='email' placeholder='Email')
                  .field
                    textarea#message(name='message' rows='4' placeholder='Message')
                ul.actions
                  li
                    input.primary(type='submit' value='Send')
                  li
                    input(type='reset' value='Reset')
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.poptrox.min.js')

    // A jQuery plugin that adds cross-browser mouse wheel support. (Optional)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js')

    script(src='lightgallery/js/lightgallery.min.js')

    // lightgallery plugins
    script(src='lg-thumbnail/lg-thumbnail.min.js')
    script(src='lg-fullscreen/lg-fullscreen.min.js')
    
    script(src='assets/js/browser.min.js')
    script(src='assets/js/breakpoints.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')

    script.
      $(document).ready(function() {
        $('#lightgallery').lightGallery(); 
      });