doctype html
//
  Multiverse by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Sanja i Marijan
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet' href='assets/css/main.css')
    noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
    link(type='text/css' rel='stylesheet' href='node_modules/lightgallery/dist/css/lightgallery.css')
    link(rel='stylesheet', href='assets/css/customization.css')
  body.is-preload
    // Wrapper
    #wrapper
      // Header
      header#header
        h1
          a(href='https://albumshares.com')
            strong AlbumShares
        nav
          ul
            li
              a(href='/') Glavna
            li
              a(href='/album') Foto1
            li
              a(href='/album2') Foto2
            li
              a(href='/video') Video
      // Main
      block mainPage
      
      block photoGallery

      block photo2Gallery

      block photo3Gallery

      block videoPlayer

      // Footer
      footer#footer.panel
        .inner.split
          div
            p.copyright
              | © Unttled. Design: 
              a(href='http://html5up.net') HTML5 UP
              | .
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.poptrox.min.js')

    // A jQuery plugin that adds cross-browser mouse wheel support. (Optional)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js')

    script(src='/lightgallery/js/lightgallery.js')

    // lightgallery plugins
    script(src='node_modules/lg-thumbnail/dist/lg-thumbnail.min.js')
    script(src='node_modules/lg-fullscreen/dist/lg-fullscreen.min.js')
    script(src='node_modules/lg-video/dist/lg-video.min.js')
    
    script(src='assets/js/browser.min.js')
    script(src='assets/js/breakpoints.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')

    script.
      $(document).ready(function() {
        $('#lightgallery').lightGallery({
          selector: 'a'
        }); 
      });
    script.
      $('#html5-videos').lightGallery();