extends layout

block photo2Gallery
  #lightgallery
    h1 Foto (1779)
    br
    if listOfPhotoObjects2.length  
      for photoObject of listOfPhotoObjects2
        a(href=photoObject.full)
          img.photo-thumb(src=photoObject.thumb alt=photoObject.name) 
          p=photoObject.name
  
  
  
  
  
  