extends layout

block photoNew
  #lightgallery
    if listOfPhotoObjects.length  
      for photoObject of listOfPhotoObjects
        a(href=photoObject.full)
          img(src=photoObject.thumb alt='')
  
  
  
  
  
  
  
  
  