extends layout

block photoGallery
  #main
    article.thumb
      a.image(href="photos/fulls/img01.jpg")
        img(src="photos/thumbs/img01.jpg" alt="")
      h2 Magna feugiat lorem
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img02.jpg")
        img(src="photos/thumbs/img02.jpg" alt="")
      h2 Nisl adipiscing
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img03.jpg")
        img(src="photos/thumbs/img03.jpg" alt="")
      h2 Tempus aliquam veroeros
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img04.jpg")
        img(src="photos/thumbs/img04.jpg" alt="")
      h2 Aliquam ipsum sed dolore
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img05.jpg")
        img(src="photos/thumbs/img05.jpg" alt="")
      h2 Cursis aliquam nisl
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img06.jpg")
        img(src="photos/thumbs/img06.jpg" alt="")
      h2 Sed consequat phasellus
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img07.jpg")
        img(src="photos/thumbs/img07.jpg" alt="")
      h2 Mauris id tellus arcu
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img08.jpg")
        img(src="photos/thumbs/img08.jpg" alt="")
      h2 Nunc vehicula id nulla
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img09.jpg")
        img(src="photos/thumbs/img09.jpg" alt="")
      h2 Neque et faucibus viverra
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img10.jpg")
        img(src="photos/thumbs/img10.jpg" alt="")
      h2 Mattis ante fermentum
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img11.jpg")
        img(src="photos/thumbs/img11.jpg" alt="")
      h2 Sed ac elementum arcu
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="photos/fulls/img12.jpg")
        img(src="photos/thumbs/img12.jpg" alt="")
      h2 Vehicula id nulla dignissim
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
