extends layout

block photoGallery
  #main
    // if photosFullDir.length && photosThumbsDir.length
    
    for photo in photosAllObj
      .article.thumb
        a.image(href=`${photo.full}`)
          img(src=`${photo.thumb}` alt='')
        h2= photo.name
  
  //#main
    article.thumb
      a.image(href="images/fulls/01.jpg")
        img(src="images/thumbs/01.jpg" alt="")
      h2 Magna feugiat lorem
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/02.jpg")
        img(src="images/thumbs/02.jpg" alt="")
      h2 Nisl adipiscing
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/03.jpg")
        img(src="images/thumbs/03.jpg" alt="")
      h2 Tempus aliquam veroeros
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/04.jpg")
        img(src="images/thumbs/04.jpg" alt="")
      h2 Aliquam ipsum sed dolore
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/05.jpg")
        img(src="images/thumbs/05.jpg" alt="")
      h2 Cursis aliquam nisl
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/06.jpg")
        img(src="images/thumbs/06.jpg" alt="")
      h2 Sed consequat phasellus
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/07.jpg")
        img(src="images/thumbs/07.jpg" alt="")
      h2 Mauris id tellus arcu
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/08.jpg")
        img(src="images/thumbs/08.jpg" alt="")
      h2 Nunc vehicula id nulla
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/09.jpg")
        img(src="images/thumbs/09.jpg" alt="")
      h2 Neque et faucibus viverra
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/10.jpg")
        img(src="images/thumbs/10.jpg" alt="")
      h2 Mattis ante fermentum
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/11.jpg")
        img(src="images/thumbs/11.jpg" alt="")
      h2 Sed ac elementum arcu
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.
    article.thumb
      a.image(href="images/fulls/12.jpg")
        img(src="images/thumbs/12.jpg" alt="")
      h2 Vehicula id nulla dignissim
      p
        | Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.