extends layout

block photoNew
  #lightgallery
    if listOfPhotoObjects.length  
      for photoObject of listOfPhotoObjects
        a(href=photoObject.full)
          img.photo-thumb(src=photoObject.thumb alt=photoObject.name) 
          p=photoObject.name
  
  
  
  
  
  