extends layout

block photoGallery
  #main
    if listOfPhotoObjects.length
      for photoObject of listOfPhotoObjects
        article.thumb
          a.image(href=photoObject.full)
            img(src=photoObject.thumb alt='')
          h2=photoObject.name
