extends layout

block videoPlayer
  div(style='display:none;' id='video1')
    video(class='lg-video-object lg-html5' controls preload='none')
      source(src='videos/video1.mp4' type='video/mp4')
  //data-src should not be provided when you use html5 videos
  ul(id='html5-videos')
    li(data-poster='video-poster1.jpg' data-sub-html='video caption1' data-html='#video1')
      img(src='photos/thumbs/img01.jpg')
      p Spot